* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #adcf9f;

  cursor: crosshair;

  font-family: comf;
}

nav {
  display: flex;
  align-items: center;
  justify-content: right;

  padding-right: 50px;

  height: 65px;
  width: 100%;

  background-color: #76ba99;
  color: #ffdcae;
  font-family: comf;
}

.nav_title {
  position: absolute;
  left: 30px;
  top: 2px;
  font-size: 50px;
}

.nav__item {
  display: flex;
  gap: 52px;
}

.nav__links {
  display: flex;
  font-size: 30px;
}

.nav__links_pages {
  display: flex;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #ffdcae;
}

span {
  color: #f37878;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card {
  width: 400px;
  height: 650px;

  background-color: #76ba99;
  overflow: hidden;
  border-radius: 20px;

  font-family: Muppets;

  position: relative;
}

.pic {
  width: 400px;
  height: 500px;
}

.card_circle {
  width: 50px;
  height: 50px;
  border-radius: 23px;
  background-color: #f37878;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 12px 2px;
  font-family: comf;
}

.card_circle_failed {
  width: 50px;
  height: 50px;
  border-radius: 23px;
  background-color: red;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 12px 2px;
  font-family: comf;
}

.card_circle_d {
  width: 300px;
  height: 50px;
  border-radius: 23px;
  background-color: #00e1ff;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 12px 2px;
  font-family: comf;
}

.kvad{
  width: 1800px;
  height: 1430px;
  background-color: lightskyblue;
  margin: 0 50px 0 50px;
  border-radius: 90px;
}

.button{
  font-size: 70px;
  font-family: comf;
  color: rgb(120, 220, 253);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.new {
  text-align: center;

  font-size: 20px;
}

.best {
  text-align: center;

  font-size: 13px;
}

.fail {
  text-align: center;

  font-size: 13px;
  color: black;
}


.card_title {
  font-size: 40px;

  text-align: center;
  font-family: cave;
}

.card_text {
  font-size: 30px;
  text-align: center;
  font-family: cave;
  font-weight: 500;
}

.price {
  text-align: center;
  font-family: comf;
  font-weight: 550;
  padding-top: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  height: 80px;
  background-color: #76ba99;
  font-family: comf;
  color: #ffdcae;
}

.title {
  color: #ffdcae;
  font-size: 80px;
  text-align: center;
  padding: 20px;
}

.sex {
color: rgb(255, 0, 0);

  font-size: 50px;
}
